<form class="ui segment form" action="/dashboard/addgoal" method="POST">
  <div class="two fields">
    
    <div class="field">
      <label>Date</label>
      <input placeholder="ddmmyyyy" type="number"name="date">
    </div>
    <div class="field">
      <label>Measurement</label>
      <input placeholder="00.00cm" type="number" step="0.01" name="measurement">
    </div>
  </div>
  <button class="ui blue submit button"> Add Goal </button>
</form>
