<section class="ui center aligned middle aligned segment">

    <div class="ui three column middle aligned grid basic segment">
      <div class="column">
          <h1 class="ui header">
              BMI TRACKER
          </h1>
          <h2>
              Fill in your assessments week by week and track your BMI. Trainer's will comment
              on your progress and encourage you to keep going.
          </h2>
      </div>
        <div class="column">
            <iframe width="315" height="315" src="https://www.youtube.com/embed/z_3S2_41_FE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      <div class="column">
          <h1 class="ui header">
              What is BMI
          </h1>
          <h2>
              Check out the video to the left and find out!</br><<<<----
          </h2>
      </div>
    </div>
</section>