{{> menu id="dashboard"}}

{{#each members}}
  <section class="ui segment">
    <h2 class="ui header">
      <a href="/member/{{id}}">{{name}}</a>
    </h2>
    <p> assessments </p>
     
  </section>
{{/each}}